* {
    box-sizing: border-box;
    font-size: 22px;
}
.error {
    color: #960018;
    font-size: 0.8em; 
}

.form-container{
   background-color:#ABCDEF;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   max-width: 650px;
   min-height: 800px;
   text-align: center;
}
